body{
    background-color: hsl(59, 56%, 53%);
}
.h-1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    text-shadow: 10px 3px 5px rgb(18, 151, 25);
    color:rgb(124, 124, 221);
}
#p-1{
    font-weight: 900;
    text-transform: uppercase;
    color:rgba(13, 42, 33, 0.804);
}
img{
    border: 10px solid black;
    width: 500px;
    height: 500px;
}
.img-2{
    margin-left: 50px;
    width: 50%;
} 