body {
    display: flex;
    flex-direction: column;
    background-image: url(./../assets/img/stars.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
}

/* this is for inputs */

.in-1 {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
    border: none;
    border-radius: 15px;
    align-self: center;
    gap: 8px;
    margin-top: 15%;
    box-shadow:
        0 0 50px,
        0 0 10px,
        0 0 10px;
    transition: all 0.6s ease;
    width: 250px;
    height: 250px;
}

.n-1 {
    border-radius: 5px;
}

/* this is submit code */

.sum-1 {
    margin-top: 10%;
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 15px;
    transition: all 0.6s ease;
}

.sum-1:hover {
    background-color: #2980b9;
    transform: scale(1.25);
}

.n-1:hover {
    background-color: #ccd0d2;
    transform: scale(1.25);
}

/* this is calendar code */

.calen {
    width: 150px;
    border: none;
}

/* this is login code  */

.log-1 {
    position: absolute;
    top: 20px;
    right: 10px;
    color: white;
    font-weight: bold;
    z-index: 10;
    border-radius: 15px;
    width: 90px;
    height: 40px;
    text-align: center;
    font-size: 24px;
    box-shadow:
        0 0 10px black,
        0 0 10px grey,
        0 0 10px wheat;
    text-decoration: none;
}

.login {
    text-decoration: none;
    line-height: 38px;
    color: white;
}

/* this a link code is for Contact us button */

.a-2 {
    text-decoration: none;
}

/*  this is for max-width  for site */

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 1rem;
}

@media (max-width: 1080px) {
    .grid-container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 580px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
}