.box{
    height: 250px;
    width: 250px;
    background-color: aqua;
    border-radius: 10px;
}
.container{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    align-content: space-between;
    height: 100vh;
    padding: 10px;
    background-color: blueviolet;
}
.w-1{
    width: 400px;
}