
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #fafafa;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    display: flex;
    align-items: center;
    gap: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background: linear-gradient(to top, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.35) 90%), url("images/image-hero-desktop.jpg") no-repeat;
    height: 400px;
    padding-top: 52px;
    padding-inline: 165px;
}

header a {
    color: white;
    font-size: 14px;
}

header a:hover {
    text-decoration: underline;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.card {
    max-width: 720px;
    padding: 20px;
    margin: 0 auto;
    box-shadow: 0 0 1.5px 1.5px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    background-color: white;
    height: 300px;
}

.img-container {
    text-align: center;
    margin-top: -51px;
}

#hero {
    margin-top: -100px;
}
