body{
    font-family: sans-serif;
    height: 100vh;
    background-image: linear-gradient(rgba(27, 156, 10, 0.829) rgb(14, 103, 206));
}

input[type="text"]{
    padding: 10px 15px;
    outline: none;
    border: 3 solid rgb(0, 255, 255);
    border-radius: 5px;
    background-image: linear-gradient(rgb(133, 0, 0) rgb(0, 0, 0));
}