body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #1e1e1e;
    color: white;
    position: sticky;
    height: 300vh;
}
.stiky{
    background-color: white;
    color: rgb(0, 0, 0);
}
.grid-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    max-width: 800px;
    margin: auto;
    
}

.grid-item {
    background-color: #f3f3f3;
    color: #000;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
} 

.grid-item img {
    width: 100%;
}

.card {
    padding: 8px 12px;
    font-weight: bold;
    font-size: 14px;
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr;
    }
}