body {
    background-image: linear-gradient(chocolate, grey);
    background-repeat: no-repeat;
    height: 100vh;
    background-size: cover;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}

li {
    position: relative;
    margin-bottom: 10px;
}

li::before {
    content: '';
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 20px;
    background-image: url('./assets/potos/download\ \(9\).jpg');
    background-size: cover;
}

h1 {
    text-align: center;
    text-decoration: underline;
}

.gap {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 20px;
}

.card {
    background-color: violet;
    width: 300px;
    border-radius: 10px;
    margin: 30px auto;
    padding: 30px;
    margin-left: 40%;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 195px 2.6;
}

.h-1 {
    margin-right: 55%;
    text-align: center;
}

.card p {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.card-2 {
    background-color: violet;
    width: 300px;
    border-radius: 10px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 195px 2.6;
    margin-left: 20%;
}

.p-1 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.card-3 {
    background-color: violet;
    width: 300px;
    border-radius: 10px;
    margin: 30px auto;
    padding: 30px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 195px 2.6;
    margin-right: 40%;
}

.h-3 {
    text-align: center;
}

.p-2 {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 700;
}