body {
    background-color: aqua;

    display: flex;
    flex-wrap: wrap;
}

div {
    width: 200px;
    height: 200px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

