.margin-center{
    margin: 0 auto;
    max-width: 1200px;
}
body{
    background-color: (247,247,247);
}
header div{
    display: flex;
    justify-content: space-between;

    
}
header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
}
header ul{
    display: flex;

}