.p{
    font-size: 300%;
    border: 5px solid rgb(2, 211, 200);
    color: rgbrgb(203, 151, 20);
    background-color: hsl(0, 97%, 23%);
}
#p{
    background-color:hsl(90, 80%, 70%, 1) ;
    color:rgb(rgb(101, 104, 66),) ;

}